@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --principal: #FBF4F4;
    --secundaria: #F7E7E7;
    --contraste: #382A40;
    --complemento: #B6C1B9;
}

/* DEFINIÇÕES COMUNS */

body{ 
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--principal);
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

main{
    margin-left: 1em;
    margin-right: 2em;
}


/**/



.logo{
    font-family: 'Gruppo';
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1;
    color: var(--contraste);
    padding: none;
}

.cabecalho{
    background-color: var(--secundaria);
    font-family: 'Gruppo';
    font-style: normal;
    color: var(--contraste);
    font-weight: 400;
    font-size: 80px;
    line-height: 53px;
    text-align: center;

    height: max-content;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    margin-left: 6em;
    margin-right: 6em;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.texto{
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

/* DEFINIÇÕES MENU */

.cabecalho-menu-logo{
    font-family: 'Gruppo';
    font-style: normal;
    color: var(--complemento);
    font-weight: 400;
    font-size: 80px;
    line-height: 53px;
    text-align: center;

    margin: 0;
}

.menu-anuncio{
    display: -webkit-inline-flex;
}

.anuncio{
    background-color: var(--secundaria);
    height: 200px;
    width: 20%;

    border-radius: 20px;
    margin: 40px;
}

.menu-item{
    font-family: 'Source Sans Pro';
    font-size: 25px;
    color: var(--complemento);
    text-decoration: underline;

    margin-left: 0.5em;
}

.menu-texto{
    font-family: 'Source Sans Pro';
    font-size: 20px;
    color: var(--complemento);
    text-align: justify;

    margin-left: 0.5em;
    padding-top: 10px;
}

.sair{
    border-radius: 100px;
    width: 150px;
    height: 50px;
    position: fixed;
    margin-right: 0.7em;
    margin-top: 10px;
    left: 90%;
    top: 90%;
}

.sair:hover{
    background-color: var(--complemento);
    border: hidden;
    color: var(--principal);
    font-size: 20px; 
}

a.sair{
    padding-top: 10px;
    background-color: var(--principal);
    border: solid 2px var(--complemento);
    color: var(--complemento);
    font-size: 20px;

}

/* DEFINIÇÕES INDEX */

body.body-container{ 
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--principal);
    font-family: 'Source Sans Pro';
    font-size: 20px;
    display: -webkit-inline-flex;
}


.container {
    width: 50%;
    height: 100%;
    padding-top: 10%;
}

.logo-destaque{
    font-family: 'Gruppo';
    color: var(--contraste);
    font-size: 300px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 180px;
    font-style: none;
    text-align: center;

    margin: 0;
}

.texto-destaque{
    color: var(--contraste);
    font-style: italic;
    font-weight: 350;
    font-size: 50px;
    line-height: 63px;
    text-align: center;

    padding-top: 10px;
}

.form{
    background-color: var(--secundaria);
    height: max-content;
    width: 400px;
    border: hidden;
    border-radius: 20px;
    position: fixed;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 8%;
    margin-left: 10%;
}

.input-form{
    background-color: var(--complemento);
    font-family: 'Source Sans Pro';
    font-size: 12px;
    opacity: 1;
    letter-spacing: 5px;
    text-align: center;

    border: none;
    border-radius: 10px;
    margin-top: 10px;   
    margin-bottom: 20px;

    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.entrar-btn{
    font-size: 25px;
    font-style: bold;
    background-color: var(--contraste);
    border: solid 10px var(--contraste);
    border-radius: 10px;
    
    margin-top: 30px;
    
    color: var(--principal);
    height: 55px;
    width: 100%;
}

.entrar-btn:hover{
    background-color: var(--principal);
    border: solid 10px var(--principal);
    border-radius: 10px;
    color: var(--contraste);
    height: 55px;
    width: 100%;
}

.link-cadastro{
    color: var(--contraste);
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.link-cadastro:hover{
    font-size: 16.5px;
}
