@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --principal: #FBF4F4;
    --secundaria: #F7E7E7;
    --contraste: #382A40;
    --complemento: #B6C1B9;
}

/* DEFINIÇÕES COMUNS */

body { 
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--principal);
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

main{
    margin-left: 1em;
    margin-right: 2em;
}

.logo{
    font-family: 'Gruppo';
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1;
    color: var(--contraste);
    padding: none;
}

.cabecalho{
    background-color: var(--secundaria);
    height: min-content;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 6em;
    margin-right: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto{
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

/* DEFINIÇÕES MENU */

.cabecalho-menu-logo{
    font-family: 'Gruppo';
    font-style: normal;
    color: var(--complemento);
    font-weight: 400;
    font-size: 80px;
    line-height: 53px;
    text-align: center;

    margin: 0;
}

.menu-item{
    font-family: 'Source Sans Pro';
    font-size: 22px;
    color: var(--complemento);
    text-decoration: underline;

    margin-left: 0.5em;
}

.menu-texto{
    font-family: 'Source Sans Pro';
    font-size: 20px;
    color: var(--complemento);

    margin-left: 0.5em;
    padding-top: 10px;
}

.menu-carrossel{
    background-color: var(--complemento);
    height: 300px;
    width: 40%;
}

.sair{
    background-color: var(--principal);
    border: solid 2px var(--complemento);
    color: var(--complemento);
    font-size: 20px;

    border-radius: 100px;
    width: 150px;
    height: 50px;
    position: fixed;
    margin-right: 0.7em;
    margin-top: 10px;
    left: 90%;
    top: 90%;
}

.sair:hover{
    background-color: var(--complemento);
    border: solid 2px var(--principal);
    color: var(--principal);
    font-size: 20px; 
}

/* DEFINIÇÕES INDEX */

.container {
    width: 50%;
    margin: 0 auto;
    display:block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8.7em; 
    padding-top: 10em;
}



/****/

.logo-destaque{
    font-family: 'Gruppo';
    font-size: 150px;
    letter-spacing: 2px;
    line-height: 0.7;
    font-style: none;
    margin: 0;
    padding-bottom: 15px;
    color: var(--contraste);
}

.texto-destaque{
    font-size: 28px;
    color: var(--contraste);
    font-style: italic;
}

.form{
    background-color: var(--secundaria);
    height: max-content;
    width: 400px;
    border: solid 15px var(--secundaria);
    border-radius: 20px;
}

.input-form{
    background-color: var(--complemento);
    border: none;
    border-radius: 10px;
    padding-left: 9em;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

::-webkit-input-placeholder{
    font-family: 'Source Sans Pro';
    font-size: 12px;
    color: var(--principal);
    opacity: 1;
    letter-spacing: 4px;
}

.input-radio{
    font-size: 15px; 
    margin: 1em;
    gap: 1em;
}

.entrar-btn{
    font-size: 20px;
    font-style: bold;
    background-color: var(--contraste);
    border: solid 10px var(--contraste);
    border-radius: 10px;
    color: var(--principal);
    height: 50px;
    width: 100%;
}

.entrar-btn:hover{
    background-color: var(--principal);
    border: solid 10px var(--principal);
    border-radius: 10px;
    color: var(--contraste);
    height: 50px;
    width: 100%;
}