<!DOCTYPE html>
<html>

<head>
    <title>cadastro de empresa em nuesotro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body class="body-container">
    <div class="container">
        <!--LOGO-->
		<h1 class="logo-destaque">
			nues<br>otro
		</h1>
		<p class="texto-destaque">não é como nenhum outro</p>
	</div>

    <div class="container">
<!--    TIPO DE CADASTRO 
        <div>
            <button class="tipo-cadastro"></button>
        </div> sou uma empresa <br>
-->
        <!--FORM-->
        <form class="form" style="margin-top:4%;" id="formEmpresa" name="formEmpresa" method="post" action="cadastroEmpresa.php">
            <input class="input-form" type="text" name="nomeEmpresa" id="nomeEmpresa" placeholder="insira o nome da empresa" autocomplete="off" />

            <input class="input-form" type="text" name="cnpj" id="cnpj" placeholder="insira o cnpj" autocomplete="off" />
        
            <input class="input-form" type="text" name="cidade" id="cidade" placeholder="insira sua cidade" autocomplete="off" />
            
            <input class="input-form" type="text" name="siglaEstado" id="siglaEstado" placeholder="insira a sigla de seu estado" autocomplete="off" />
        
            <input class="input-form" type="text" name="telefone" id="telefone" placeholder="insira o telefone" autocomplete="off" />
        
            <input class="entrar-btn" Type="submit" name="gravaEmpresa" id="gravaEmpresa" value="cadastrar" />
        </form>
    </div>
    
</body>

</html>