<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>minha loja em nuesotro</title>
</head>

<body>
    <!--CABECALHO-->
    <header>
        <div class="cabecalho">
            <a class="cabecalho-logo" href="menu.html">nues<br>otro</a>
        </div>
    </header>

    <form class="form-produto" name="confirmar" action="minha-loja.php" method="post" style="margin-top: 6%;">
        confirme o cnpj da sua loja:
        <input class="input-form" type="text" name="cnpj" id="cnpj">
        <input class="entrar-btn" type="submit" value="confirmar">
    </form>

</body>

</html>